body {
  margin: 0;
  padding: 0;
}
header {
  padding: 30px;
  background: #333;
  color: #ffff;
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
}
.tabla {
  font-family: sans-serif;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}
.tabla div {
  background: #697c88;
  color: white;
  padding: 18px;
  text-align: center;
}
.cabecera {
  grid-column: 1/4;
}
