body {
  margin: 0;
  padding: 0;
}
header {
  padding: 30px;
  background: #333;
  color: #af383881;
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
}
.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Crear 4
    columnas iguales */
  justify-content: center; /* Centrar los elementos
    horizontalmente */
  align-items: center; /* Centrar los elementos
    verticalmente */
  background-color: #e8eef3;
}
.menu a {
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: black;
}
.menu a:hover {
  background-color: #555;
}
