body {
  margin: 0;
  padding: 0;
}
header {
  padding: 30px;
  background: #333;
  color: #ffff;
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
}
.menu {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center; /* Centrar los elementos
  horizontalmente */
  align-items: center; /* Centrar los elementos verticalmente
  */
  background-color: #e8eef3;
}
.centro {
  grid-column: 2; /* Coloca el elemento en la segunda
  columna */
}
.centro a {
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: black;
}
.centro a:hover {
  background-color: #555;
}
