body {
    margin: 0px;
    padding: 8px;
    font-family: Verdana, serif;
}

header {
    height: 78px;
    line-height: 70px;
    padding-left: 40px;
    background: #333334;
    color: #FFFFFF;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 58px;
}

section {
    background: #CCC;
}

article {
    display: flex;
}

img {
    border: dashed 1px #555;
    width: 170px;
    object-fit: cover; 
}